[Unit]

Description=Praksa Streznik



[Service]

Type=simple

WorkingDirectory=/home/tim/Desktop/linux-x64/

ExecStart=/usr/bin/dotnet /home/tim/Desktop/linux-x64/PraksaStreznik.dll

Restart=always

RestartSec=10

SyslogIdentifier=PraStr



[Install]

WantedBy=multi-user.target